fastapi
uvicorn[standard]
pydantic-settings
pytest
python-dotenv
boto3
ffmpeg-python
pydub
openai
python-multipart
httpx[socks]
torch
torchaudio
soundfile
numpy<2.0
demucs
inaSpeechSegmenter
tensorflow==2.12.0
